[Unit]
Description=Backup
Wants=backup.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/backup.py

[Install]
WantedBy=multi-user.target
