[Unit]
Description=Duplication of remote backups

[Service]
Type=oneshot
ExecStart=/usr/bin/homesnap
#StandardOutput=append:/var/log1.log | syslog
#StandardError=append:/var/log2.log | syslog
