[Unit]
Description=Duplication of remote backups

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/host025.py
#StandardOutput=append:/var/log1.log | syslog
#StandardError=append:/var/log2.log | syslog
