# systemd unit for virtualenv
[Unit]
Description=VHosts controlling tg bot
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/pysandbox
ExecStart=/opt/pysandbox/bin/python3 srvbot/bot.py
# ExecReload=/opt/pysandbox/bin/python3 srvbot/srvbot.py
Restart=on-abort

Environment=VIRTUAL_ENV=/opt/pysandbox
Environment=PATH=$VIRTUAL_ENV/bin:$PATH

[Install]
WantedBy=multi-user.target
