[Unit]
Description=VHosts controlling tg bot
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/srvbot
Restart=on-abort

[Install]
WantedBy=multi-user.target
