[Unit]
Description=VHosts controlling tg bot
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/sbin/srvbot.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
